@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form id="addForm">
    <div class="form-group">
        <label for="inputName">Tên</label>
        <input type="text" class="form-control" id="inputName" placeholder="Nhập tên">
    </div>
    <div class="form-group">
        <label for="inputBirthday">Ngày sinh</label>
        <input type="date" class="form-control" id="inputBirthday" placeholder="Birthday">
    </div>
    <div class="form-group">
        <label class="form-check-label" for="exampleCheck1">Lớp</label>
        <select class="form-select" id="classSelect" aria-label="Default select example">
            <option selected disabled>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary" id="submit__add">Submit</button>
</form>

